*,
*::before,
*::after {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

.slider-container {
  overflow: hidden;
  background-color: pink;
}
.slider-track {
  display: flex;
  background-color: yellow;
  transition: 0.5s all ease;
}
.slider-item {
  /* min-width: 200px; */
  height: 100px;
}
.slider-item:nth-child(3n + 1) {
  background-color: red;
}
.slider-item:nth-child(3n + 2) {
  background-color: green;
}
.slider-item:nth-child(3n + 3) {
  background-color: blue;
}

.slider-buttons {
  text-align: center;
}
