%font-family-open-sans {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
%font-family-roboto {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
$height-slider: 1em;
$width-slider: 20em;
@mixin track() {
  // background: #000; /* get rid of Firefox track background */
  height: 100%;
  width: 100%;
}

@mixin thumb() {
  pointer-events: auto; /* catch clicks */
  -webkit-appearance: none;
  border: 2px solid #000000;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
}
main {
  display: grid;
  grid-template-columns: 300px 1fr;
  row-gap: 30px;
  column-gap: 40px;
  padding-bottom: 50px;
}
.wrapper {
  width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
}

header {
  background-color: #000;
  color: #fff;
  height: 100px;
}

.header {
  height: 100%;
  display: flex;
  align-items: center;
}

.search {
  width: 100%;
  height: 100%;
  margin: 32px 0;
  display: flex;
  flex-direction: row;
  grid-row: 1;
  grid-column: 1/-1;

  form {
    width: min-content;
    display: flex;
    flex-direction: row;
  }
  button,
  button:active {
    width: 117px;
    height: 40px;
    border: 1px solid #dedede;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    transform: translateX(-50%);
    cursor: pointer;
  }
}

.search__input {
  width: 1010px;
  height: 40px;
  border: 1px solid #c7c7c7;
  border-radius: 5px 0 0 5px;
  display: flex;
  align-items: center;

  input {
    height: 16px;
    border: none;
    padding-left: 11px;
    border-left: 1px solid rgba(0, 0, 0, 0.5);

    &:active,
    &:focus {
      border: none;
      outline: none;
      border-left: 1px solid rgba(0, 0, 0, 0.5);
    }
  }
}

input[type='submit'] {
  width: 145px;
  height: 40px;
  background-color: #f1bd45;
  border-radius: 0 3px 3px 0;
  border: 1px solid transparent;
  transform: translateX(-50%);
  cursor: pointer;
}

.search__icon {
  margin: 0 12px 0 16px;
}

.block-head {
  grid-row: 2;
  grid-column: 1/-1;
}

.block-head__title {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  h2 {
    font-size: 28px;
    line-height: 32px;
    margin-right: 19px;
  }
  span {
    font-size: 14px;
    line-height: 19px;
    color: #8b8b8b;
    @extend %font-family-open-sans;
  }
}
.categories {
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

.categories__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  width: min-content;
}
.category__img {
  width: 60px;
  height: 60px;
  background-color: #c4c4c4;
  border-radius: 3px;
  grid-row: 1/3;
}
.category {
  width: 230px;
  margin-left: 20px;
  border-right: 1px solid #b9b9b9;
  display: grid;
  column-gap: 10px;
  grid-template-columns: 60px 1fr;
  h3 {
    font-size: 14px;
    line-height: 19px;
    color: #333;
    align-self: center;
    @extend %font-family-open-sans;
  }
  p {
    align-self: center;
    font-size: 12px;
    line-height: 16px;
    color: #8b8b8b;
    @extend %font-family-open-sans;
  }
  &:first-child {
    margin-left: 0;
  }
}
.categories__ellipsies {
  width: 145px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    269.76deg,
    #ffffff 62.83%,
    rgba(255, 255, 255, 0) 145.7%
  );
}

aside {
  width: 300px;
  grid-row: 3;
  grid-column: 1;
}

.block-up {
  h4 {
    margin-bottom: 11px;
  }
  ul {
    list-style: none;
    margin-bottom: 46px;
  }
  li {
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: #5375b7;
  }
  span {
    font-size: 12px;
    line-height: 16px;
    @extend %font-family-open-sans;
    color: #ababab;
    opacity: 0.7;
  }
}
.filters {
  h4 {
    margin-bottom: 16px;
  }

  span {
    font-size: 12px;
    line-height: 16px;
    @extend %font-family-open-sans;
    color: #ababab;
    opacity: 0.7;
    margin-left: 4px;
    cursor: pointer;
  }

  button,
  button:active {
    font-size: 10px;
    line-height: 11px;
    color: #333333;
    opacity: 0.5;
    text-decoration-line: underline;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
  label {
    @extend %font-family-open-sans;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    opacity: 0.7;
    cursor: pointer;
    padding-left: 8px;
  }
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    &:last-child {
      margin-bottom: 0;
    }
  }
  input[type='checkbox'] {
    display: none;
  }
}
.filter__input {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 19px;
  input {
    border: none;
    width: 100%;
    padding-left: 12px;
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
  label {
    padding: 0;
  }
}
.filter-box__input {
  width: 110px;
  height: 40px;
  border: 1px solid #dedede;
  border-radius: 3px;
  line-height: 40px;
}
.filter-wrapper {
  display: grid;
  grid-template-rows: max-content $height-slider;
  // margin: 1em auto;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 30px;
  input[type='range'] {
    transform: translateY(-40%);
    grid-column: 1;
    grid-row: 2;
    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb,
    & {
      -webkit-appearance: none;
    }
    /* same as before */
    background-color: transparent; /* get rid of white Chrome background */
    color: #000;
    font: inherit; /* fix too small font-size in both Chrome & Firefox */
    margin: 0;
    pointer-events: none; /* let clicks pass through */

    &::-webkit-slider-runnable-track {
      @include track;
    }
    &::-moz-range-track {
      @include track;
    }

    &::-webkit-slider-thumb {
      @include thumb;
    }
    &::-moz-range-thumb {
      @include thumb;
    }
    &:active,
    &:focus {
      border: none;
      outline: none;
    }
  }
}

.filter__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.filter__checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #dedede;
  border-radius: 3px;
  cursor: pointer;
}
.filter__currency {
  margin-bottom: 32px;
}
.results {
  grid-row: 3;
  grid-column: 2;
}
.results__filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  line-height: 19px;
  @extend %font-family-open-sans;
}
.filter_left {
  p {
    display: inline-block;
  }

  button,
  button:active {
    margin-left: 15px;
    font-size: 14px;
    line-height: 19px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #5375b7;
    cursor: pointer;
    @extend %font-family-open-sans;
  }
  button.active {
    color: #333;
    border-bottom: 1px solid #f1bd45;
  }
}
.filter_right {
  p {
    display: inline-block;
  }
}
.filter__box {
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid #dedede;
  border-radius: 3px;
  margin-left: 10px;
  select {
    border: none;
    &:hover,
    &:active {
      border: none;
    }
  }
}
.results__tags {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  button,
  button:active {
    margin-left: 10px;
    padding: 7px 10px;
    font-size: 14px;
    line-height: 16px;
    background-color: #fff3d8;
    border-radius: 3px;
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    @extend %font-family-roboto;
    &:first-child {
      margin-left: 0;
    }
  }
}

.results__pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 18px;
  a {
    text-decoration: none;
    color: #000;
    opacity: 0.5;
    font-size: 16px;
    line-height: 18px;
    margin-right: 20px;
    &.active,
    &.next {
      opacity: 1;
    }
    &:last-child {
      margin-right: 0;
    }
    img {
      height: 10px;
    }
  }
}
.results__items{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  row-gap: 40px;
  margin-bottom: 40px;
}
.item{
  width: 260px;
  height: 400px;
}
.item__pic{
  width: 260px;
  height: 260px;
  background-color: #c4c4c4;
  border-radius: 3px;
  margin-bottom: 10px;
}
.item__description{
  overflow: hidden;
  margin-bottom: 18px;
  height: 37px;
  p{
    line-height: 18px;
  }
}
.item__price{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  p{
    @extend %font-family-open-sans;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    margin-right: 16px;
  }
  span{
    @extend %font-family-open-sans;
    text-decoration-line: line-through;
    color: #A9A9A9;
  }
}

.item__btn{
  width: 100%;
  height: 40px;
  background-color: #f1bd45;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}
